<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="AlanD-SimpleLogger" type="System.Configuration.NameValueSectionHandler" />
    <section name="AlanD-PDF" type="AlanD.wkhtmltopdf.Config.ConfigurationSectionHandler, AlanD.wkhtmltopdf" requirePermission="false" />
  </configSections>
  <AlanD-SimpleLogger>
    <add key="enabled" value="false" />
    <add key="logfile" value="~/logs/log.txt" />
    <add key="level" value="info" />
    <!-- INFO DEBUG WARNING ERROR  -->
  </AlanD-SimpleLogger>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <AlanD-PDF>
    <publisher name="default">
      <add name="exeLocation" />
      <add name="exeArguments" value="--javascript-delay 400" />
      <add name="workingDirectory" />
      <add name="outputDirectory" />
      <add name="errorMode" value="verbose" />
    </publisher>

    <publisher name="publisher1">
      <add name="exeLocation"  value="../Binaries/wkhtmltopdf 0.12.1/wkhtmltopdf.exe"/>
      <add name="exeArguments"  value=" -s A4 --background"/>
      <add name="workingDirectory" value="~/pdf-output/temp"  />
      <add name="outputDirectory" value="~/pdf-output"/>
      <add name="errorMode" /> 
    </publisher>
  </AlanD-PDF>

</configuration>
